:root{
    --fuentePrincipal: 'Bebas Neue', sans-serif;
    --colorPrimario: #9b02e7;
    --colorSecundario: #0f21f3;
}
body {
    font-family: var(--fuentePrincipal) !important;
}

/** Header **/
.navbar{
    font-family: var(--fuentePrincipal) !important;
    font-weight: 700;
    background-color: var(--colorPrimario) !important;
}
.navbar a{
    color: white;
}
.nav-color a{
    color: black;
    font-size: 20px;
}
.nav-color a:hover{
    color: white;
}
.btn{
    color: black;
}

.dropdown-menu{
    background-color: var(--colorPrimario);
}
.dropdown-menu a{
    color: white;
    font-weight: bold;
}
.dropdown-menu a:hover{
    color: black;
}

/** Carrusel **/
.carousel-item img{
    height: 550px !important;
}
.carousel-item::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4); /* Ajusta el color y la opacidad según tus preferencias */
}

/** Descripcion **/
.descripcion {
    background: rgb(180,84,179);
    background: linear-gradient(173deg, rgba(180,84,179,1) 63%, rgba(255,255,255,1) 63.1%);
}
.descripcion-s{
    padding-top: 60px;
    line-height: 30px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .descripcion-s p{
        padding: 0 300px;
    }
}
.txt-h1{
    font-size: 70px;
}
.txt-h2{
    font-size: 45px;
}
.txt-h1, .txt-h2{
    color:white;
}
.btn-descripcion button{
    font-family: var(--fuentePrincipal);
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--colorPrimario) !important;
    border-color: var(--colorPrimario);
    color: white;
    margin-bottom: 50px;
}
.btn-descripcion button:hover{
    background-color: #711170 !important;
    border-color: #711170;
}

/** Seccion 1 **/
.seccion-1, .seccion-2{
    width: 80% !important;
    display: flex;
    gap: 20px;
    align-items: center;
}
#seccion-2{
    background: rgb(255,255,255);
    background: linear-gradient(186deg, rgba(255,255,255,1) 63%, rgba(15,33,243,1) 63.1%);
}
.seccion-2__imagen{
    padding-bottom: 100px;
}

/*Footer*/
footer{
  background-color: #9b02e7;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.row{
  display: flex;
  justify-content: center;
}

.col {
  flex: 0 0 auto;
  width: 200px;
}

/* Personaliza el estilo del texto y los enlaces en el footer */

footer a {
  text-decoration: none;
  color: white;
}
